<div class="container public">

  <% if request.fullpath =~ /(en\/p\/en_profile|en\/p\/en_team|en\/p\/en_culture)/ %>
    <div class="about-nav text-right">
      <%= link_to "Profile", en_page_path(:en_profile), class: "#{ 'on' if request.fullpath =~ /en\/p\/en_profile/}"%>
      <%= link_to "TEAM", en_page_path(:en_team), class: "#{ 'on' if request.fullpath =~ /en\/p\/en_team/}"%>
      <%= link_to "CULTURE PURSUIT", en_page_path(:en_culture), class: "#{ 'on' if request.fullpath =~ /en\/p\/en_culture/}"%>
      <%#= link_to "SPIRIT", en_page_path(:EN_SPIRIT), class: "#{ 'on' if request.fullpath =~ /en\/p\/EN_SPIRIT/}"%>
      <%#= link_to "STYLE", en_page_path(:EN_STYLE), class: "#{ 'on' if request.fullpath =~ /en\/p\/EN_STYLE/}"%>
      <%#= link_to "EMPLOYEE", en_page_path(:EN_EMPLOYEE), class: "#{ 'on' if request.fullpath =~ /en\/p\/EN_EMPLOYEE/}"%>
    </div>
  <% end %>
  <div class="page-text <%= "page_map" if request.fullpath =~ /(en\/p\/en_contact_us)/%>">
    <%= raw @page.try(:content) %>
    <% if request.fullpath =~ /(en\/p\/en_contact_us)/ %>
      <%= simple_form_for([:en, @content], wrapper: :bootstrap3, html: {class: "email"}, remote: true) do |f| %>
        <%#= f.error_notification %>
        <%= f.input :name, placeholder: "Your Name", as: :string %>
        <%= f.input :email, placeholder: "Your Email", as: :string %>
        <%= f.input :tel, placeholder: "Your Tel", as: :string %>
        <%= f.input :body%>
        <%= f.button :submit, "SUBMIT", class: "o"%>
      <% end %>
    <% end -%>
  </div>


</div>