<div class="nav">
  <%= image_tag "header_logo.jpg", class: "header_logo"%>
  <ul class="nav-right">
    <li class="<%= "on" if "#{controller_name}/#{action_name}" == "en/welcome/index" %>"><%= link_to "HOME ", en_welcome_index_path %></li>
    <li class="<%= "on" if request.fullpath =~ /organ/ %>"><%= link_to "ABOUT US", en_page_path(:EN_PROFILE) %></li>
    <li class="<%= "on" if "#{controller_name}/#{action_name}" == "products/index" %>"><%= link_to "OEM&OPM", en_products_path %></li>
    <li class="<%= "on" if request.fullpath =~ /study/ %>"><%= link_to "QUALTTY", en_article_category_articles_path(:study) %></li>
    <li class="<%= "on" if request.fullpath =~ /contact_us/ %>"><%= link_to "CONTACT US", "javascript:void(0)" %></li>
  </ul>


  <ul class="nav-left navBar">
    <li id="m1" class="m">
      <h3><a target="_blank" href="#">SKATEBOARD</a></h3>
      <div class="sub">
        <dl>
          <dt> <%= image_tag "skateboard/blank_deces.png" %> <a href="#">BLANK DECKS </a> </dt>
          <dd> <a href="#">Double Kick Concave Deck</a> </dd>
          <dd> <a href="#">Cruiser Deck</a> </dd>
          <dd> <a href="#">Longboarding Deck </a> </dd>
          <dd> <a href="#">Fish Deck </a> </dd>
        </dl>
        <dl>
          <dt> <%= image_tag "skateboard/dekcs.png" %> <a href="#">DECKS</a> </dt>
          <dd><a href="#">Double Kick Concave Deck </a></dd>
          <dd><a href="#">Cruiser Deck</a></dd>
          <dd><a href="#">Longboarding Deck </a></dd>
          <dd><a href="#">Fish Deck</a></dd>
        </dl>
        <dl>
          <dt> <%= image_tag "skateboard/complete.png" %> <a href="#">COMPLETE</a> </dt>
           <dd><a href="#">Double Kick Concave Skateboard</a></dd>
           <dd><a href="#">Cruiser Skateboard</a></dd>
           <dd><a href="#">Longboarding Skateboard</a></dd>
           <dd><a href="#">Fish Skateboard</a></dd>
        </dl>
        <dl>
           <dt><%= image_tag "skateboard/accessories.png" %><a href="#">ACCESSORIES</a></dt>
           <dd><a href="#"> Grip Tape </a></dd>
           <dd><a href="#">Truck</a></dd>
           <dd><a href="#">Wheel</a></dd>
           <dd><a href="#">Bearing</a></dd>
           <dd><a href="#">Wax</a></dd>
           <dd><a href="#">Tools</a></dd>
        </dl>
      </div>

    </li>

    <li id="m2" class="m">
      <h3><a target="_blank" href="#">BASEBALL/ SOFTBALL BAT<i></i></a></h3>
      <div class="sub">
        <dl>
           <dt><%= image_tag "baseball_softball_bat/pro_bat.png" %><a href="#">Pro Bat</a></dt>
        </dl>
        <dl>
           <dt><%= image_tag "baseball_softball_bat/fungo_bat.png" %><a href="#">Fungo Bat</a></dt>
        </dl>

        <dl>
           <dt><%= image_tag "baseball_softball_bat/training_bat.png" %><a href="#">Training Bat</a></dt>
        </dl>
        <dl>
           <dt><%= image_tag "baseball_softball_bat/youth_bat.png" %><a href="#">Youth Bat </a></dt>
        </dl>
        <dl>
           <dt><%= image_tag "baseball_softball_bat/trophy_bat.png" %><a href="#">Trophy Bat</a></dt>
        </dl>
        <dl>
           <dt><%= image_tag "baseball_softball_bat/glove_shaping_mallet.png" %><a href="#">Glove Shaping Mallet</a></dt>
        </dl>
      </div>
    </li>
  </ul>
</div>
<div class="sub-nav"></div>
<% if @banner %>
<div class="fullSlide">
  <div class="bd">
    <ul>
      <li style="background:url(<%= asset_path "banner_1.jpg"%>) center top"></li>
      <li style="background:url(<%= asset_path "banner_2.jpg"%>) center top"></li>
      <li style="background:url(<%= asset_path "banner_3.jpg"%>) center top"></li>
    </ul>
  </div>
  <div class="hd">
    <ul></ul>
  </div>
</div>
<% else %>
<div class="banner-line"></div>
<% end -%>
<% content_for :script do%>
<script type="text/javascript">
  jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
  jQuery(".nav").slide({ type:"menu",  titCell:".m", targetCell:".sub",effect:"slideDown", delayTime:300, triggerTime:0,returnDefault:true  });

</script>
<% end -%>