<%= simple_form_for([:admin, @activity_category], wrapper: :bootstrap3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :custom_order %>
    <%= f.input :parent_id, collection: ActivityCategory.tree.unshift(ActivityCategoryRoot.new), label_method: :tree_select_name, prompt: "请选择父类别" %>
    <%= f.input :brief %>
    <%= f.input :published %>
    <%= f.input :cite_key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
