<p id="notice"><%= notice %></p>

<p>
  <strong><%= Content.human_attribute_name(:name) %>:</strong>
  <%= @content.name %>
</p>

<p>
  <strong><%= Content.human_attribute_name(:email) %>:</strong>
  <%= @content.email %>
</p>

<p>
  <strong><%= Content.human_attribute_name(:tel) %>:</strong>
  <%= @content.tel %>
</p>

<p>
  <strong><%= Content.human_attribute_name(:body) %>:</strong>
  <%= @content.body %>
</p>

<%#= link_to t('buttons.edit'), edit_admin_content_path(@content) %>
<%= link_to t('buttons.back'), admin_contents_path %>
