<div class="container">
  <div class="banner">
  <%= image_tag "banner.jpg"%>
  </div>
</div>
<div class="container public">
  <div class="index_right">
    <div class="col-lg-12">
      <div class="index_title">
        <a href="#"><span>高端视点</span></a>
        <em class="r-m"><em class="add">+</em><a href="http://mil.sohu.com/s2014/8008/s403094591/index.shtml" target="_blank">更多</a></em>
      </div>
      <div class="pic_text">
        <div class="pic_img"><%= image_tag "0423.jpg"%></div>
        <div>
          <ul class="pic_img_right">
            <li><a href="#">美特种部队神话不在 自杀成风</a></li>
            <li><a href="#">美特种部队神话不在 自杀成风</a></li>
            <li><a href="#">美特种部队神话不在 自杀成风</a></li>
            <li><a href="#">美特种部队神话不在 自杀成风</a></li>
            <li><a href="#">美特种部队神话不在 自杀成风</a></li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
      <br>
      <div class="index_title">
        <a href="#"><span>学术委员会</span></a>
      </div>
      <div class="index_right_text">
        2000多年前，亚欧大陆上勤劳勇敢的人民，探索出多条连接亚欧非几大文明的贸易和人文交流通路，后人将其统称为“丝绸之路”。千百年来，“和平合作、开放包容、互学互鉴、互利共赢”的丝绸之路精神薪火相传，推进了人类文明进步，是促进沿线各国繁荣发展的重要纽带，
      </div>
      <br>
      <div class="index_title">
        <a href="#"><span>企业委员会</span></a>
      </div>
      <div class="index_right_text">
        2000多年前，亚欧大陆上勤劳勇敢的人民，探索出多条连接亚欧非几大文明的贸易和人文交流通路，后人将其统称为“丝绸之路”。千百年来，“和平合作、开放包容、互学互鉴、互利共赢”的丝绸之路精神薪火相传，推进了人类文明进步，是促进沿线各国繁荣发展的重要纽带，
      </div>
    </div>
  </div>
  <div class="index_left">
    <div class="col-lg-6 pull-right">
      <div class="panel pull-right">
        <h4><span>研究成果</span> <a href="">更多</a></h4>
        <ul>
          <li><a href="#">徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <h4><span>论坛动态</span> <a href="">更多</a></h4>
        <ul>
          <li><a href="#">徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
    <%= image_tag "mh1.jpg", width: "100%", class: "im" %>
    <div class="col-lg-6 pull-right">
      <div class="panel pull-right">
        <h4><span>媒体动态</span> <a href="">更多</a></h4>
        <ul>
          <li><a href="#">徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <h4><span>丝路快讯</span> <a href="">更多</a></h4>
        <ul>
          <li><a href="#">徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
          <li><a href="#"><span class="pull-right">2015-05-20</span>徐光裕：把神风特攻与黄继光相比的人</a></li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="container">
  <ul class="index_img_list">
    <li><%= image_tag "1.jpg"%></li>
    <li><%= image_tag "5.jpg"%></li>
    <li><%= image_tag "2.jpg"%></li>
    <li><%= image_tag "3.jpg"%></li>
    <li><%= image_tag "4.jpg"%></li>
  </ul>
</div>
