<div class="container">
  <div class="product-category">
    <h3 class="title">CATEGORY</h3>
    <ul>
      <% @product_categories.where(cid: 0).each do |product_cateogry_a|%>
        <li>
          <a href="#"><span></span> <%= product_cateogry_a.en_title%> </a>
          <% @product_categories.where(cid: product_cateogry_a.id).each do |product_cateogry_b|%>
            <h5><%= product_cateogry_b.en_title%></h5>
            <% @product_categories.where(cid: product_cateogry_b.id).each do |product_cateogry_c|%>
            <h6><%= product_cateogry_c.en_title%></h6>
            <% end -%>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  </div>
  <div class="oem product-list">
    <%= image_tag "product_banner.jpg", class: "product-list-banner" %>
    <ul>
      <li>
        <%= link_to en_product_path(1), class: "product-img" do %>
          <%= image_tag "product_default.jpg"%>
        <% end -%>
        <div class="text">
          <h3>Product Name</h3>
          <p class="brief"> Hello world! </p>
          <%= link_to "More", en_product_path(1), class: "more" %>
        </div>
      </li>
    </ul>
  </div>
  <div class="clr"></div>
</div>
