<h1 class="product-category-title">SKATE BOARD</h1>
<div class="product-list root">
  <ul>
    <% 8.times do |i|%>
    <li>
      <%= link_to zh_product_path(1), class: "img" do %>
        <%= image_tag "product.jpg"%>
      <% end -%>
      <%= link_to zh_product_path(1), class: "price" do %>
        <h5 class="name">SKATE BOARD</h5>
        <p class="price"><span class="d">200</span><span class="c">139</span></p>
      <% end -%>
    </li>
    <% end -%>
  </ul>
  <%= link_to "MORE", zh_products_path, class: "product-category-more"%>
</div>
<h1 class="product-category-title">BASEBALL BAT</h1>
<div class="product-list root">
  <ul>
    <% 8.times do |i|%>
    <li>
      <%= link_to zh_product_path(1), class: "img" do %>
        <%= image_tag "product.jpg"%>
      <% end -%>
      <%= link_to zh_product_path(1), class: "price" do %>
        <h5 class="name">SKATE BOARD</h5>
        <p class="price"><span class="d">200</span><span class="c">139</span></p>
      <% end -%>
    </li>
    <% end -%>
  </ul>
  <%= link_to "MORE", zh_products_path, class: "product-category-more"%>
</div>