<%= simple_form_for([:admin, @product], wrapper: :bootstrap3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :product_category_id,collection: ProductCategory.all %>
    <%= f.input :summary %>
    <%= f.input :video %>
    <%= f.input :inquiry %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
