<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id%></td>
        <td><%= product.name%></td>
        <td><%= link_to t('actions.show'), [:admin, product] %>
        <%= link_to t('actions.edit'), edit_admin_product_path(product) %>
        <%= link_to t('actions.destroy'), [:admin, product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('actions.new')}#{Product.model_name.human}", new_admin_product_path, class: 'btn btn-default' %>
