<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <tr>
    <td>名称</td>
    <td><%= @product.name%></td>
  </tr>
  <tr>
    <td>图片</td>
    <td><%= image_tag @product.image_path%></td>
  </tr>
  <tr>
    <td>配料</td>
    <td><%= @product.summary%></td>
  </tr>
  <tr>
    <td>简介</td>
    <td><%= @product.inquiry%></td>
  </tr>
  <tr>
    <td>价格</td>
    <td><%= @product.video %></td>
  </tr>
</table>

<%= link_to t('buttons.edit'), edit_admin_product_path(@product) %> |
<%= link_to t('buttons.back'), admin_products_path %>
