<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= Content.human_attribute_name(:name) %></th>
      <th><%= Content.human_attribute_name(:email) %></th>
      <th><%= Content.human_attribute_name(:tel) %></th>
      <th><%= Content.human_attribute_name(:body) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.email %></td>
        <td><%= content.tel %></td>
        <td><%= content.body %></td>
        <td><%= link_to t('actions.show'), [:en, content] %></td>
        <td><%= link_to t('actions.edit'), edit_en_content_path(content) %></td>
        <td><%= link_to t('actions.destroy'), [:en, content], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('actions.new')}#{Content.model_name.human}", new_en_content_path, class: 'btn btn-default' %>
