<div class="footer text-center">
  <div class="container">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%">
          <h3 class="t">CONTACT  WITH  ME</h3>
          <form action="#" class="email">
            <input type="text" placeholder="Your Email">
            <input type="submit">
          </form>
        </td>
        <td class="society" width="30%">
          <h3 class="t">FIND US ON </h3>
          <%=link_to "#", class: "twitter" do%> <%= image_tag "twitter.png"%> <% end -%>
          <%=link_to "#", class: "facebook" do%> <%= image_tag "facebook.png"%> <% end -%>
          <%=link_to "#", class: "youtube" do%> <%= image_tag "youtube.png"%> <% end -%>
          <%=link_to "#", class: "google" do%> <%= image_tag "google.png"%> <% end -%>
        </td>
        <td class="country" width="20%">
          <h3 class="t">LANGUAGE </h3>
          <%=link_to "#" do%> <%= image_tag "country.jpg"%> <% end -%>
          <%=link_to "#" do%> <%= image_tag "country.jpg"%> <% end -%>
          <%=link_to "#" do%> <%= image_tag "country.jpg"%> <% end -%>
          <%=link_to "#" do%> <%= image_tag "country.jpg"%> <% end -%>
        </td>
      </tr>
    </table>
  </div>
</div>