<div class="nav">
  <%= image_tag "header_logo.jpg", class: "header_logo"%>
  <ul class="nav-right">
    <li class="<%= "on" if "#{controller_name}/#{action_name}" == "welcome/index" %>"><%= link_to "HOME ", root_path %></li>
    <li class="<%= "on" if request.fullpath =~ /organ/ %>"><%= link_to "ABOUT US", page_path(:organ) %></li>
    <li class="<%= "on" if "#{controller_name}/#{action_name}" == "products/index" %>"><%= link_to "OEM&OPM", products_path %></li>
    <li class="<%= "on" if request.fullpath =~ /study/ %>"><%= link_to "QUALTTY", article_category_articles_path(:study) %></li>
    <li class="<%= "on" if request.fullpath =~ /contact_us/ %>"><%= link_to "CONTACT US", page_path(:contact_us) %></li>
  </ul>


  <ul class="nav-left navBar">
    <li id="m1" class="m">
      <h3><a target="_blank" href="#">SKATE BOARD</a></h3>
    </li>

    <li id="m2" class="m">
      <h3><a target="_blank" href="#">BASEBALL BAT<i></i></a></h3>
      <div class="sub">
        <dl>
           <dt><a href="#">个人电脑及周边</a></dt>
           <dd><a href="#">个人电脑</a></dd>
           <dd><a href="#">个人电脑配件</a></dd>
           <dd><a href="#">电脑周边外设</a></dd>
           <dd><a href="#">MV随身存</a></dd>
        </dl>
        <dl>
           <dt><a href="#">家庭影像产品</a></dt>
           <dd><a href="#">Blu-ray DiscTM</a></dd>
           <dd><a href="#">DVD 播放器</a></dd>
           <dd><a href="#">投影机</a></dd>
        </dl>

        <dl>
           <dt><a href="#">数码影戏产品</a></dt>
           <dd><a href="#">微单TM 数码相机</a></dd>
           <dd><a href="#">数码单反/单电相机</a></dd>
           <dd><a href="#">佩戴式摄像机</a></dd>
           <dd><a href="#">摄录望远镜</a></dd>
           <dd><a href="#">数码相片打印机</a></dd>
           <dd><a href="#">数码相框</a></dd>
           <dd><a href="#">索尼存储卡</a></dd>
           <dd><a href="#">DV带和光盘</a></dd>
        </dl>

        <dl>
           <dt><a href="#">3D影像产品</a></dt>
           <dd><a href="#">3D全线产品站点</a></dd>
           <dd><a href="#">3D液晶电视机</a></dd>
           <dd><a href="#">3D Blu-ray DiscTM</a></dd>
           <dd><a href="#">3D家庭影音系统</a></dd>
           <dd><a href="#">3D个人电脑</a></dd>
           <dd><a href="#">3D数码摄像机</a></dd>
        </dl>
        <dl>
           <dt><a href="#">个人电脑及周边</a></dt>
           <dd><a href="#">个人电脑</a></dd>
           <dd><a href="#">个人电脑配件</a></dd>
           <dd><a href="#">电脑周边外设</a></dd>
           <dd><a href="#">MV随身存</a></dd>
        </dl>
        <dl>
           <dt><a href="#">家庭影像产品</a></dt>
           <dd><a href="#">Blu-ray DiscTM</a></dd>
           <dd><a href="#">DVD 播放器</a></dd>
           <dd><a href="#">投影机</a></dd>
        </dl>

      </div>
    </li>
  </ul>
</div>
<div class="sub-nav"></div>
<% if @banner %>
<div class="fullSlide">
  <div class="bd">
    <ul>
      <li style="background:url(<%= asset_path "banner_1.jpg"%>) center top"></li>
      <li style="background:url(<%= asset_path "banner_1.jpg"%>) center top"></li>
    </ul>
  </div>
  <div class="hd">
    <ul></ul>
  </div>
</div>
<% else %>
<div class="banner-line"></div>
<% end -%>
<% content_for :script do%>
<script type="text/javascript">
  jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
  jQuery(".nav").slide({ type:"menu",  titCell:".m", targetCell:".sub",effect:"slideDown", delayTime:300, triggerTime:0,returnDefault:true  });

</script>
<% end -%>